<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">

  <Properties>
    <Property name="logPath">../logs</Property>
    <Property name="logPattern">[%d{yyyy-MM-dd HH:mm:ss:SSS} %-5p] %-4relative [%thread] %c.%M(%L): %m%n</Property>
  </Properties>

  <appenders>

    <console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${logPattern}"/>
    </console>

    <File name="log" fileName="${logPath}/test.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-p %class{36} %L %M - %m%n"/>
    </File>

    <RollingFile name="TRACE" fileName="${logPath}/trace.log" filePattern="${logPath}/%d{y}-trace-%i.log">
      <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${logPattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="500K"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>

    <RollingFile name="DEBUG" fileName="${logPath}/debug.log" filePattern="${logPath}/%d{y}-debug-%i.log">
      <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${logPattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="500K"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>

    <RollingFile name="INFO" fileName="${logPath}/info.log" filePattern="${logPath}/%d{y}-info-%i.log">
      <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${logPattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="500K"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
    <RollingFile name="WARN" fileName="${logPath}/warn.log" filePattern="${logPath}/%d{y}-warn-%i.log">
      <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${logPattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="500K"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
    <RollingFile name="ERROR" fileName="${logPath}/error.log" filePattern="${logPath}/%d{y}-error-%i.log">
      <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${logPattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="500K"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
  </appenders>

  <loggers>
    <root level="TRACE">
      <appender-ref ref="Console"/>
      <appender-ref ref="TRACE"/>
      <appender-ref ref="DEBUG"/>
      <appender-ref ref="INFO"/>
      <appender-ref ref="WARN"/>
      <appender-ref ref="ERROR"/>
    </root>
    <!--过滤掉一些无用的DEBUG信息-->
    <!--<logger name="io.netty.handler.logging.LoggingHandler" level="WARN"></logger>-->
    <!--<logger name="io.netty.handler.codec.socksx.SocksPortUnificationServerHandler" level="WARN"></logger>-->
  </loggers>
</configuration>